@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

/* 

font-family: 'Nunito', sans-serif; 
*/
:root{
    --DmSans: font-family: 'DM Sans', sans-serif;
    --Nunito: font-family: 'Nunito', sans-serif; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,menu,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* ====================Common Css=================== */
/* =============Common Section header =========== */
.section_header h6{
    color:  #3661FC;
    font-family: var(--DmSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_header h3{
    color:  #1A1A1A;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    padding: 16px 0 27px;
}
#about .about_content>p,
.why_choose_content>p{
    color:  #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 27px;
}
/* ===========Common banner section============ */
#common_banner{
    background: #a3a3a3;
    overflow: hidden;
}
#common_banner .banner_wrapper{
    padding: 166px 0 154px;
}
#common_banner .banner_wrapper h2{
    color: #FFF;
    text-align: center;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px; 
}
#common_banner .banner_wrapper a{
    color: #FFF;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}
#common_banner .banner_wrapper p{
    background:  linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}

.circle1{
    width: 182px;
    height: 175px;
    bottom: -90px;
    left: -80px;
    background:  linear-gradient(90deg, #0F7AEF 0.03%, #6CE3FF 100.09%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.circle2{
    width: 182px;
    height: 175px;
    top: -90px;
    right: -80px;
    background:  linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ====================top header===================  */
#top_header{
    height: 40px;
    background: #333333;
}
#top_header .header_bg{
    width: 110vw;
    height: 40px;
    /* z-index: 9; */
}
#top_header .header_wrapper{
    z-index: 99999;
}
#top_header .header_left{
    gap: 60px;
}
#top_header .header_left p{
    font-family: var(--DmSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}
#top_header .header_left a{
    font-family: var(--DmSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
#top_header .header_left i{
    margin-right: 8px;
    font-size: 16px;
    color:  #e86e32;
}

#top_header .header_left a::before{
    position: absolute;
    content: "";
    left: -30px;
    top: 0;
    background: #708FFF;
    width: 2px;
    height: 26px;
}
#top_header .header_right .social a{
    font-size: 16px;
    position: relative;
    color:  #a4b7fc;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#top_header .header_right .social a:hover{
    color:  #e86e32;
}
#top_header .header_right .social a::after{
    position: absolute;
    content: "";
    right: -15px;
    top: -4px;
    background: #708FFF;
    width: 2px;
    height: 26px;
}
#top_header .header_right .social a:last-child::after{
    height: 0;
}
.header_right .social{
    column-gap: 31px;
}
/* ======================nav section=================== */
.nav{
    background: #333333;
    /* height: 100px; */
    overflow-X: hidden;
    /* padding: 17px 0; */
}
.nav .header_bg{
    width: 110vw;
    height: 100px;
}
.navbar{
    padding: 17px 0;
    height: 100px;
    /* overflow: visible; */
}
.navbar .nav-link{
    color: #1A1A1A;
    font-family: var(--DmSans);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.navbar .nav-link:hover{
    color: #FE681E;
}
.navbar .nav-link i{
    font-size: 12px;
}

.dropdown-toggle::after {
    display: none;
   
}
.nav_right li a{
    height: 56px;
    width: 56px;
    border: 1px solid #708FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav_right li button{
    padding: 15px 29px;
    background: #708FFF;
    border: none;
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

/* ==================banner section=============== */
#banner{
    background: #333333;
}
#banner .banner_wrapper{
    padding: 216px 0;
}


#banner .banner_wrapper .banner_text h6{
    font-family: var(--DmSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    background:  linear-gradient(90deg, #FE651B -0.02%, #FFAA52 40.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#banner .banner_wrapper .banner_text h1{
    width: 700px;
    color:  #FFF;
    font-family: var(--Nunito);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform: capitalize;
    padding: 20px 0;
}
#banner .banner_wrapper .banner_text p{
    color:  #FFF;
    font-family: var(--DmSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    width: 600px;
}
.button{
    color: #FFF;
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    text-transform: capitalize;
    padding: 15px 29px;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    margin-top: 50px;
    border: none;
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}
#banner .banner_wrapper .shapes .circle{
    position: absolute;
    width: 570px;
    height: 570px;
    background: #cccccc;
    right: 0;
    top: 121px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#banner .banner_wrapper .shapes .circle::before{
    position: absolute;
    content: "";
    width: 570px;
    height: 570px;
    bottom: 27px;
    left: 27px;
    border: 1px solid #FE651B;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ==================about section============== */
#about{
    padding: 150px 0 100px;
}
.about_wrapper{
    padding-bottom: 120px;
}
.about_content .check i,
.tab_content_bottom .check i{
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 17px;
    height: 17px;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_content .check p,
.tab_content_bottom .check p{
    color:  #1A1A1A;
    font-family: var(--DmSans);
    padding-bottom: 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.about_content .button{
    margin-bottom: 34px;
}
.img_rectengle{
    overflow: hidden;
    width: 528px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 48px;
    background:  #CCC;
    position: absolute;
    bottom: 0;
}
.img_circle{
    position: absolute;
    left: 411px;
    bottom: 155px;
   overflow: hidden;
    width: 184px;
    height: 264px;
    border-radius: 500px;
    border: 10px solid  #FFF;
    background: #CCC;
}
.img_clip{
    position: absolute;
    bottom: 90px;
    left: 0px;
    overflow: hidden;
}

/* =============about bottom part============== */
.about_item{
      width: 342px;
      height: 408px;
}
.about_item:hover .about_item_icon{
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    top: -20px;
} 
.about_item .about_item_icon{
    width: 216px;
    top: 10px;
    left: 10px;
    height: 180px;
    background: #3661FC;
    transition: all linear .2s;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.about_item .about_item_icon img{
    position: absolute;
    top: 30px;
    left: 45px;
}
.about_itam_img{
    top: 10px;
    left: 10px;
}
.about_item_desc{
    padding: 0 35px;
}
.about_item_desc h5{
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.about_item:hover .about_item_desc h5{
    color: #3661FC;
}
.about_item_desc p{
color:  #6B6161;
font-family: var(--DmSans);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding: 12px 0 31px;
}

/* ====================Why choose section===================  */
#why_choose{
    padding: 120px 0;
 }
 .why_choose_wrapper .why_choode_img{
    width: 100%;
    height: 460px;
    overflow: hidden;
    background: #CCCCCC;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.exp_btn{
    color:#1A1A1A;
    font-family: var(--Nunito);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 30px;
    left: 172px;
    width: 364px;
    padding: 15px 50px;
    background: #ffffff;
    border: none;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}
.exp_btn span{
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
}
.progress-bar {
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}